body {
  color: #801515;
  font-family: 'Homemade Apple', cursive, sans-serif, serif;
}

aside, footer, header, main, section, div{
  margin: 0px;
  padding: 0px;
}

header, main, footer{
  width: 960px;
  margin: 8px;
  border-radius: 25px;
  text-align: center;
}

header, footer {
  background-color: #D46A6A;
}

aside, section {
  display: inline-block;
  height: 100%;
  background-color:#FFAAAA;
}

section div{
  background-color: #FFAAAA;
  border-radius: 25px;
}

div {
  border: none;
}

header {
  height: 150px;
}

main {
  height: 650px;
}

footer {
  height: 100px;
}

aside{
  height: 100%;
  width: 20%;
  border-radius: 25px;
}

section {
  vertical-align: top;
  text-align: center;
  width: 79%;
  border-radius: 25px;
  background-color: white;
}

#mainSection {
  height: 475px;
  overflow: scroll;
  margin-bottom: 3px;
  padding: 25px 20px 0px 20px;
}

#mainSection img{
  width: 175px;
  height: 175px;
}

.bodyText{
  height: 144px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 3px 10px 3px 0px;
}

img {
  margin: 2px;
  max-height: 600px;
  max-width: 600px;
  border: 2px solid #FFAAAA;
  opacity: .4;
}

img:hover {
  border: 2px solid yellow;
  opacity: 1;
}

nav ul li {
  display: inline-block;
  background-color: #FFAAAA;
  color:  #801515;
  height: 25px;
  width: 150px;
  text-align: center;
  margin: 20px 0;
}

li {
  margin: 3px;
}

nav ul li:hover{
  color: #FFAAAA;
  transform: scale(1.5);
}

h1 {
  font-size: 44px;
  margin: 20px;
}

h2 {
  font-size: 26px;
  margin: 20px;
}

h2, #results, .bodyText {
  font-family: 'Kaushan Script', cursive;
}

nav ul li {
  background-color: #D46A6A;
}

p{
  line-height: 9;
}